{% extends 'rideshare/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<a href="/all_rides" class="button">Go Back</a>
<br/><br/>
<h1>My Confirmed Rides</h1>

<table id="customers">
  <tr>
    <th>Id</th>
    <th>Destination</th>
    <th>Arrival Time</th>
    <th>Driver</th>
    <th>Vehicle</th>
    <th>Plate Number</th>
    <th># Passengers</th>
    <th>Ride Owner</th>
    <th>Ride Sharer</th>
    <th></th>
    <th></th>
  </tr>
  {% for ride in confirmed_rides %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{ride.destaddr}}</td>
    <td>{{ride.arrivalTime}}</td>
    <td>{{ride.vehicle.driver.first_name}} {{ride.vehicle.driver.last_name}}</td>
    <td>{{ride.getVehicleType}}</td>
    <td>{{ride.vehicle.plateNum}}</td>
    <td>{{ride.totalPassengerNum}}</td>
    <td>{{ride.user.first_name|capfirst}} {{ride.user.last_name|capfirst}}</td>
    <td>
      {% if ride.sharerride_set.all %}
      {% for sharer in ride.sharerride_set.all %}
      {{sharer.user.first_name|capfirst}} {{sharer.user.last_name|capfirst}}  
      {% endfor %}
      {% else %}
      No Sharer
      {% endif %}
    </td>
    <td><a href="{{ride.pk}}/view">View</a></td>
    <td><a href="{{ride.pk}}/complete">Complete</a></td>
  </tr>
  {% endfor %}
</table>

{% else %}
<p>
  Sorry!
  You should <a href="/register">create an account</a> first
  or <a href="/login">login</a>.
</p>

{% endif %}
{% endblock %}
