<div class="sidenav">
  <a href="/">Home</a>

  {% if user.is_authenticated %}
  <a href="/logout">Logout</a>
  <a href="/edit_profile">User Profile</a>
  <a href="/ride_request">Ride Request</a>
  <a href="/ride_join">Ride Join</a>

  <div class="dropdown">    
    <button class="dropbtn">My Rides</button>
    <div class="dropdown-content">
      <a href="/open_ride">Open Rides</a>
      <a href="/confirmed_ride">Confirmed Rides</a>
      <a href="/completed_ride">Completed Rides</a>
    </div>
  </div>
  
  {% if not user.vehicle %}
  <a href="/driver_register">Driver Registration</a>
  {% endif %}
  {% endif %}

  <a href="/">Coming soon</a>
</div>
